
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ffff00;
    text-align: center;
    padding: 1rem;
}

.logo {
    width: 80px;
    height: 80px;
}
.logo{
    width: 150px;
    height: 150px;
}
.logo_footer{
    width: 60px;
    height: 60px;
}

nav ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
}

    nav ul li {
        margin: 0 1rem;
    }

        nav ul li a {
            text-decoration: none;
            color: #663300;
            font-weight: bold;
            display: block;
            border-radius: 10px;
            padding: 15px;
        }

nav ul li a:hover {
background-color: #854200;
color: white;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
    transition: steps(1, start);
}

.productos {
    position:absolute;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding: 50px;
    background: linear-gradient(to top left, #000000,#ffff00)
}

    .productos li {
        position:relative;
        padding: 20px 20px;
        width: auto;
        height: auto;
        margin: 1.5%;
        box-sizing: border-box;
        border-radius: 50px;
        transition: all ease 1s;
        background: linear-gradient(to top left,#884E00,#ffff00)
    }

        .productos li:hover, .productos li.active {
            transform: scale(1.2);
            box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);
            z-index: 10;
            border:none;
        }
    .productos p.li:hover {
        color: #ffff00;
    }
.imgcomida {
    width: 180px;
    height: 140px;
    margin: 2%;
    box-sizing: border-box;
    border:solid 4px;
}

.productos li:hover {
    border-color: #d90909;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
    color:mintcream;
}

.producto-descripcion {
    font-size: 18px;
    color:mintcream;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    padding: 10px;
    color: mintcream;
}
.buton {
    height: 50px;
    width: 80px;
    background-color: black;
    color: mintcream;
    border: none;
    text-align:center;
    transition: ease 1s;
    border-radius:10px;
}
.buton:hover{
    background-color:sienna;
}

.carrito {

}
footer {
    background-color: #663300; /* Color secundario */
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin:20px;
}
